@import "../../assets/styles/variables";

.menu-button {
  padding: 15px 10px;
  margin-bottom: 15px;
  min-width: 210px;
  background-color: $mainBgColor;
  text-transform: uppercase;
  border: 1px solid $mainColor;
  border-radius: $mainBorderRadius;
  font-size: $fontSizeLarge;
  font-weight: 700;
  outline: none;
  cursor: pointer;
  &.menu-button--disabled {
    color: $disabledColor;
    background-color: $disabledBgColor;
  }
}

.main-button {
  padding: 7px 25px;
  border-radius: $mainBorderRadius;
  font-size: $fontSizeSemiMedium;
  border: 2px solid $secondaryColor;
  color: $secondaryColor;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  transition: color ease .3s, background-color ease .3s;
  &:focus,
  &:hover,
  &:active {
    background-color: $secondaryColor;
    color: #fff;
  }
}
