@import "../../assets/styles/variables";

.infobar {
  background-color: rgba($mainColor, 0.6);
  padding: 16px 0;
  border-bottom: 1px solid $mainColor;
}

.infobar__icons {
  font-weight: 600;
}

.infobar__icon {
  & > path {
    color: $secondaryColor;
  }
}
