@import "../../assets/styles/variables";

.task-card__content {
  font-size: $fontSizeSemiLarge;
}

.task-card__footer {
  text-align: center;
}

.items-wall {
  max-height: 800px;
  overflow-y: auto;
  overflow-x: hidden;
}

.items-wall__item {
  height: 100%;
  padding: 18px 15px;
  border: 2px solid $secondaryColor;
  border-radius: $mainBorderRadius;
}

.task-card {
  margin-bottom: 30px;
}

.task-card__header {
  display: table;
}

.task-card__header-item {
  display: table-row;
  font-size: $fontSizeSemiMedium;
  white-space: nowrap;
}

.task-card__header-col {
  display: table-cell;
  &:first-child {
    padding-right: 5px;
  }
}
