@import "./variables";

html {
  overflow: hidden;
  min-height: 100%;
}

#root,
html,
body {
  height: 100%;
  font-family: $mainFont;
}

body {
  height: 100%;
  overflow-y: auto;
  background: url("../../assets/images/main-bg.jpg") no-repeat;
  background-size: cover;
}

p,
span {
  color: $mainFontColor;
}
