@import "./variables";

p,
span {
  color: $mainFontColor;
}

#root,
html,
body {
  height: 100%;
  font-family: $mainFont;
}

body {
  background: url("../../assets/images/main-bg.jpg") no-repeat;
  background-size: cover;
}
