@import "./variables.scss";

.Toastify__toast {
  border-color: transparent !important;
  border-radius: $mainBorderRadius !important;
  font-weight: 600 !important;
}

.Toastify__toast--success {
  background-color: #b1710c !important;
}

.Toastify__toast--error {
  background-color: $secondaryColor !important;
  color: #fff !important;
}
