$mainColor: #8a6222;
$secondaryColor: #a4243b;
$thirdColor: #d8c99b;
$disabledColor: #d6d3cf;
$mainBgColor: rgba($mainColor, .6);
$disabledBgColor: rgba($disabledColor, .4);
$mainFontColor: #333232;

$mainBorderRadius: 8px;


$fontSizeMainTitle: 42px;

$fontSizeLarge: 24px;
$fontSizeSemiLarge: 21px;
$fontSizeSemiMedium: 18px;
$fontSizeMedium: 16px;
$fontSizeSmall: 14px;
